@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.btn {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: normal;
  transition: all 0.5s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  border-radius: 6px;
  background-color: transparent;
  letter-spacing: 0.35px;
  border: none;
}
.btn[disabled], .btn.disabled {
  opacity: 0.4;
  cursor: no-drop;
}
.btn-black {
  background-color: #000000;
  color: #ffffff !important;
}
.btn-black:hover {
  background-color: #3C4043;
}

body, html {
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  color: #333333;
  line-height: 1.4;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

tbody::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #1E1E1E;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #1E1E1E;
}

.container_md {
  max-width: 780px;
}

h1, .h1, .h2, h3, .h3 {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

h1, .h1 {
  font-size: 64px;
  line-height: 1.2;
}
@media (max-width: 991.98px) {
  h1, .h1 {
    font-size: 48px;
  }
}
@media (max-width: 767.98px) {
  h1, .h1 {
    font-size: 36px;
  }
}

.h2 {
  color: #252525;
  font-size: 32px;
}
@media (max-width: 991.98px) {
  .h2 {
    font-size: 28px;
  }
}

.h3 {
  font-size: 26px;
  letter-spacing: 0.35px;
}
@media (max-width: 991.98px) {
  .h3 {
    font-size: 24px;
  }
}
@media (max-width: 767.98px) {
  .h3 {
    font-size: 22px;
  }
}
@media (max-width: 575.98px) {
  .h3 {
    font-size: 17px;
  }
}

.subtitle {
  font-size: 28px;
}
@media (max-width: 991.98px) {
  .subtitle {
    font-size: 26px;
  }
}
@media (max-width: 767.98px) {
  .subtitle {
    font-size: 22px;
  }
}

.text-lg {
  font-size: 22px;
}
@media (max-width: 1200px) {
  .text-lg {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .text-lg {
    font-size: 18px;
  }
}

.text-md {
  color: #231F20;
  font-size: 16px;
  letter-spacing: 0.35px;
}
@media (max-width: 1200px) {
  .text-md {
    font-size: 15px;
  }
}
@media (max-width: 767.98px) {
  .text-md {
    font-size: 14px;
  }
}

.text {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1200px) {
  .text {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  .text {
    font-size: 13px;
  }
}

.text_min {
  font-size: 12px;
}

a {
  color: #206BAA;
  transition: all 0.3s;
  text-decoration: none;
  display: inline-block;
}
a:hover {
  color: #135287;
}

.color_white {
  color: #fff !important;
}

.color_black {
  color: #000 !important;
}

.color_brown {
  color: #682a10 !important;
}

.color_red {
  color: #F44336 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.ff-merriweather {
  font-family: "Merriweather", serif !important;
}

.ff-rc {
  font-family: "Roboto Condensed", sans-serif !important;
}

.header {
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 8px 0px #ddd;
}
.header .navbar-nav .nav-item .nav-link {
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;
}

.brand_left {
  transition: all 0.2s;
}
.brand_left .logo_min {
  height: 0px;
  width: 120px;
}
@media (max-width: 991.98px) {
  .brand_left .logo_min {
    height: 60px !important;
  }
}

@media (max-width: 991.98px) {
  .brand_top {
    display: none !important;
  }
}

.logo_big {
  height: 140px;
  margin-bottom: 15px;
  transition: all 0.2s;
}

.content {
  margin-top: 220px;
}
@media (max-width: 991.98px) {
  .content {
    margin-top: 86px !important;
  }
}

.on .brand_top {
  height: 0;
}
.on .logo_big {
  height: 0;
  margin-bottom: 0px;
}
.on .logo_min {
  height: 60px;
}
.on .content {
  margin-top: 86px;
}

.top_block {
  background-image: url("../images/jpg/bg-home.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 140px;
}
.top_block_min {
  padding-top: 100px;
  padding-bottom: 90px;
}
.top_block_w {
  background-image: url("../images/jpg/bg-work.jpg");
}
.top_block_b {
  background-image: url("../images/jpg/bg-blog.jpg");
}
.top_block_a {
  background-image: url("../images/jpg/bg-about.jpg");
}
.top_block_c {
  background-image: url("../images/jpg/bg-contact.jpg");
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

.ul-disc {
  list-style: disc;
}

.bg-gray {
  background-color: #fcf6f6;
}

.blog_box {
  margin-left: 15px;
  margin-right: 15px;
  color: #212121 !important;
  height: 100%;
  background: #ffffff;
}
.blog_box:hover {
  box-shadow: 0px 1px 10px 0px #ddd;
}
.blog_box .blog_box_top {
  background-image: url("../images/jpg/blog_img_1.jpg");
  background-position: center;
  background-size: cover;
  height: 160px;
}
.blog_box .blog_box_info {
  padding: 15px;
  flex: 0 0 auto;
}

.wrapper_blog_box_top {
  flex: 1 0 auto;
}

.blog_title {
  font-size: 20px;
  min-height: 56px;
}

.blog_date {
  font-size: 18px;
}

.blog_info {
  font-size: 16px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.info_user {
  font-size: 28px;
}
.info_user i {
  font-weight: 400;
  font-size: 22px;
  font-family: "Merriweather", serif !important;
}

.foto_block {
  max-width: 250px;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #AEAEAE;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #AEAEAE;
}

.form-control:-ms-input- { /* IE 10+ */
  color: #AEAEAE;
}

.form-control:-moz-placeholder { /* Firefox 18- */
  color: #AEAEAE;
}

.form-control {
  font-family: "Roboto Condensed", sans-serif !important;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
  background: #ffffff;
  padding: 8px;
  color: #252525;
  font-size: 14px;
  font-weight: 600;
  height: 44px;
  width: 100%;
  outline: none;
  position: relative;
  box-shadow: none !important;
}
.form-textarea {
  height: 115px;
  max-height: 115px;
}

.validated .form-control {
  border-color: #6dc22e;
}

.no-validated .form-control {
  border-color: #a00;
}/*# sourceMappingURL=styles.css.map */